<div class="admin-dashboard-container">
    <h1>Hệ thống quản lý đồ án chuyên ngành CNTT</h1>
    <p>Admin - Chào mừng bạn đến với trang quản trị</p>
    <i class="fa-solid fa-building-columns icon-feature"></i>
    <div class="admin-features">
        <a routerLink="/admin/quan-ly-khoa" class="feature-card">
            <i class="fa-solid fa-star icon-feature"></i>
            <h3>Quản lý Khoa</h3>
            <p>Thêm, sửa, xóa và tìm kiếm thông tin các khoa.</p>
        </a>

        <a routerLink="/admin/quan-ly-bo-mon" class="feature-card">
            <i class="fa-solid fa-chalkboard-user icon-feature"></i>
            <h3>Quản lý Bộ môn</h3>
            <p>Thêm, sửa, xóa và tìm kiếm thông tin các bộ môn.</p>
        </a>

        <a routerLink="/admin/quan-ly-nganh" class="feature-card">
            <i class="fa-solid fa-graduation-cap icon-feature"></i>
            <h3>Quản lý Ngành</h3>
            <p>Thêm, sửa, xóa và tìm kiếm thông tin các ngành.</p>
        </a>

        <a routerLink="/admin/quan-ly-chuyen-nganh" class="feature-card">
            <i class="fa-solid fa-flask icon-feature"></i>
            <h3>Quản lý Chuyên ngành</h3>
            <p>Thêm, sửa, xóa và tìm kiếm thông tin các chuyên ngành.</p>
        </a>

        <a routerLink="/admin/quan-ly-lop" class="feature-card">
            <i class="fa-solid fa-users icon-feature"></i>
            <h3>Quản lý Lớp</h3>
            <p>Thêm, sửa, xóa và tìm kiếm thông tin các lớp.</p>
        </a>

        <a routerLink="/admin/quan-ly-sinh-vien" class="feature-card">
            <i class="fa-solid fa-user-graduate icon-feature"></i>
            <h3>Quản lý Sinh viên</h3>
            <p>Thêm, sửa, xóa và tìm kiếm thông tin các sinh viên.</p>
        </a>

        <a routerLink="/admin/quan-ly-giang-vien" class="feature-card">
            <h3>Quản lý Giảng Viên</h3>
            <p>Thêm, sửa, xóa và tìm kiếm thông tin giảng viên.</p>
        </a>

        <a routerLink="/admin/quan-ly-dot-do-an" class="feature-card">
            <h3>Quản lý Đợt Đồ Án</h3>
            <p>Thêm, sửa, xóa và quản lý các đợt đồ án.</p>
        </a>

    </div>

</div>