<div class="container">
    <div class="header-section">
        <h1>Chào mừng Giảng viên!</h1>
        <p>Đây là bảng điều khiển của giảng viên. Bạn có thể xem thông tin cá nhân và quản lý các đề tài hướng dẫn.</p>
    </div>

    <div class="dashboard-cards">
        <div class="card">
            <h2>Thông tin Cá nhân</h2>
            <p>Xem và cập nhật thông tin chi tiết về bản thân.</p>
            <div class="actions">
                <a routerLink="/lecturer/thong-tin-ca-nhan" class="btn btn-primary">Xem thông tin</a>
            </div>
        </div>

        <div class="card">
            <h2>Quản lý Đề tài Hướng dẫn</h2>
            <p>Xem danh sách các đề tài mà bạn đang hướng dẫn và theo dõi tiến độ.</p>
            <div class="actions">
                <a routerLink="/lecturer/xem-de-tai-huong-dan" class="btn btn-info">Xem đề tài</a>
            </div>
        </div>

        <div class="card">
            <h2>Đăng kí Đề tài</h2>
            <p>Quản lý thông tin các đề tài, gán giảng viên, sinh viên.</p>
            <div class="actions">
                <a routerLink="/lecturer/quan-ly-de-tai" class="btn btn-primary">Xem đề tài</a>
            </div>
        </div>

        <div class="card">
            <h2>Phân công Đề tài cho Sinh viên</h2>
            <p>Quản lý thông tin phân công đề tài cho sinh viên sinh viên.</p>
            <div class="actions">
                <a routerLink="/lecturer/quan-ly-phan-cong" class="btn btn-primary">Xem đề tài</a>
            </div>
        </div>
    </div>
</div>