<div class="admin-dashboard-container">
    <h1>Hệ thống quản lý đồ án chuyên ngành CNTT</h1>
    <p>Chào mừng bạn đến với trang sinh viên!</p>

    <div class="admin-features">
        <a routerLink="/student/nop-bao-cao" class="feature-card">
            <i class="fa-solid fa-file-alt icon-feature"></i>
            <h3>Nộp Báo cáo Tiến độ</h3>
            <p>Nộp và xem lại các báo cáo tiến độ đồ án của bạn.</p>
        </a>

        <a routerLink="/student/thong-tin-ca-nhan" class="feature-card">
            <i class="fa-solid fa-user icon-feature"></i>
            <h3>Thông tin cá nhân</h3>
            <p>Xem và cập nhật thông tin cá nhân của bạn.</p>
        </a>

        <a routerLink="/student/thong-tin-de-tai" class="feature-card">
            <i class="fa-solid fa-user icon-feature"></i>
            <h3>Thông tin đề tài</h3>
            <p>Xem thông tin đề tài của bạn.</p>
        </a>

    </div>
</div>