<div class="admin-dashboard-container">
    <h1>Hệ thống quản lý đồ án chuyên ngành CNTT</h1>
    <p>Student - Chào mừng bạn đến với trang quản trị</p>
    <i class="fa-solid fa-building-columns icon-feature"></i>
    <div class="admin-features">

        <a routerLink="/admin/quan-ly-lop" class="feature-card">
            <i class="fa-solid fa-users icon-feature"></i>
            <h3>Quản lý Lớp</h3>
            <p>Thêm, sửa, xóa và tìm kiếm thông tin các lớp.</p>
        </a>

        <a routerLink="/admin/quan-ly-sinh-vien" class="feature-card">
            <i class="fa-solid fa-user-graduate icon-feature"></i>
            <h3>Quản lý Sinh viên</h3>
            <p>Thêm, sửa, xóa và tìm kiếm thông tin các sinh viên.</p>
        </a>

        <a routerLink="/admin/quan-ly-de-tai" class="feature-card">
            <h3>Quản lý Đề tài</h3>
            <p>Quản lý thông tin các đề tài, gán giảng viên, sinh viên.</p>
        </a>

        <a routerLink="/admin/quan-ly-bao-cao-tien-do" class="feature-card">
            <h3>Quản lý Báo cáo tiến độ</h3>
            <p>Sinh viên báo cáo tiến độ tại đây.</p>
        </a>

    </div>

</div>